h1 {color:#1F30E9;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
}
h3 {color: #1F34E9;
    font-size: 2em;
    text-align: center;
    font-style: italic;
}
ul {
    position:fixed;
    top:20px;
}
li{
    color: #0F0FFF;
}

p{
    color:red;
    font-style: oblique;
}
